<div>
    <!-- contents -->
    <div class="container container01">
        <div id="menuList" class="menu-container">
            <link rel="stylesheet" href="styles/menuList.css">
            <div class="row clearfix">
                <div class="col-xs-12 column group1">
                    <div class="row clearfix">
                        <div class="col-xs-2 column">
                            <p class="tt1">참가신청</p>
                        </div>
                        <div class="col-xs-10 column mystyle">
                            <div class="col-xs-6 column myst">
                                <button class="btn btn-block btn-primary b1 btn01" type="button" ng-click="click_menu('0')">
                                    <span class="text02"> 지방별</span><br><span class="text01"> 사전등록</span>
                                </button>
                                <button class="btn btn-block btn-primary b1 btn01 text01" type="button" ng-click="click_menu('1')">
                                    당일등록
                                </button>
                            </div>
                            <div class="col-xs-6 column myst">
                                <button class="btn btn-block btn-primary b1 btn01" type="button" ng-click="click_menu('2')">
                                    <span class="text03">개인</span> <br><span class="text01"> 사전등록</span>
                                </button>
                                <button class="btn btn-block btn-primary b1 btn01 text01" type="button" ng-click="click_menu('3')">
                                    등록열람
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 column group1">
                    <div class="row clearfix">
                        <div class="col-xs-2 column">
                            <p class="tt1">숙소</p>
                        </div>
                        <div class="col-xs-10 column mystyle">
                            <div class="col-xs-6 column myst">
                                <button class="btn btn-block btn-warning b1 btn01" type="button" ng-click="click_menu('4')">
                                    <span class="text01"> 숙소배정</span>
                                </button>
                            </div>
                            <div class="col-xs-6 column myst">
                                <button class="btn btn-block btn-warning b1 btn01" type="button" ng-click="click_menu('5')">
                                    <span class="text01">배정열람</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 column group1">
                    <div class="row clearfix">
                        <div class="col-xs-2 column">
                            <p class="tt1">행사</p>
                        </div>
                        <div class="col-xs-10 column mystyle">
                            <div class="col-xs-6 column myst">
                                <button class="btn btn-block btn-info b1 btn01 text01" type="button" ng-click="click_menu('6')">
                                    <span class="text04"> 일정표</span>
                                </button>
                                <button class="btn btn-block btn-info b1 btn01 text01" type="button" ng-click="click_menu('7')">
                                    행사<br><span class="text04">조직</span>
                                </button>
                            </div>
                            <div class="col-xs-6 column myst">
                                <button class="btn btn-block btn-info b1 btn01 text01" type="button" ng-click="click_menu('8')">
                                    강사소개
                                </button>
                                <button class="btn btn-block btn-info b1 btn01 text01" type="button" ng-click="click_menu('9')">
                                    <span class="text05">행사</span> <br> 회계
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 column group1">
                    <div class="row clearfix">
                        <div class="col-xs-2 column">
                            <p class="tt1">알림</p>
                        </div>
                        <div class="col-xs-10 column mystyle">
                            <div class="col-xs-6 column myst">
                                <button class="btn btn-block btn-info b1 btn01 text01" type="button" ng-click="click_menu('10')">
                                    <span class="text04"> 지방회</span><br>교회
                                </button>
                                <button class="btn btn-block btn-info b1 btn01 text01" type="button" ng-click="click_menu('11')">
                                    <span class="text04">협찬열람</span>
                                </button>
                            </div>
                            <div class="col-xs-6 column myst">
                                <button class="btn btn-block btn-info b1 btn01 text01" type="button" ng-click="click_menu('12')">
                                    <span class="text05">지방회 </span> <br> 조직
                                </button>
                                <button class="btn btn-block btn-info b1 btn01 text01" type="button" ng-click="click_menu('13')">
                                    <span class="text05">참가자 </span> <br> 열람
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>