<link rel="stylesheet" href="styles/main.css">
<link rel="stylesheet" href="styles/index.css">
<link rel="stylesheet" href="styles/menuList.css">
<link href="styles/phyengsin.css" rel="stylesheet">

<div>
    <!-- contents -->
    <div class="container container01">
        <div id="menuList" class="menu-container">
            <link rel="stylesheet" href="styles/menuList.css">
            <div class="row clearfix">
                <div class="col-xs-12 column group1">
                    <div class="row clearfix">
                        <div class="col-xs-2 column jang-title text-center" style="height:125px; padding-top:10px;">
                            참<br>가<br>신<br>청
                        </div>
                        <div class="col-xs-10 column ">
                            <div class="col-xs-6 column myst">
                                <button class="btn btn-block btn-cham b1 btn01" type="button" ng-click="click_menu('0')">
                                    <span class="text02">지 　 방 　 별</span><br><span class="text01"> 사 전 등 록</span>
                                </button>
                                <button class="btn btn-block btn-cham b1 btn01 text01" type="button" ng-click="click_menu('1')">
                                    당 일 등 록
                                </button>
                            </div>
                            <div class="col-xs-6 column myst">
                                <button class="btn btn-block btn-cham b1 btn01" type="button" ng-click="click_menu('2')">
                                    <span class="text03">개 　 　 　 인</span> <br><span class="text01"> 사 전 등 록</span>
                                </button>
                                <button class="btn btn-block btn-cham b1 btn01 text01" type="button" ng-click="click_menu('3')">
                                    등 록 열 람
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 column group1">
                    <div class="row clearfix">
                        <div class="col-xs-2 column jang-title text-center" style="height:60px;  padding-top:5px;">
                            숙<br>소
                        </div>
                        <div class="col-xs-10 column ">
                            <div class="col-xs-6 column myst">
                                <button class="btn btn-block btn-hang b1 btn01" type="button" ng-click="click_menu('4')">
                                    <span class="text01">숙 소 배 정</span>
                                </button>
                            </div>
                            <div class="col-xs-6 column myst">
                                <button class="btn btn-block btn-hang b1 btn01" type="button" ng-click="click_menu('5')">
                                    <span class="text01">배 정 열 람</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 column group1">
                    <div class="row clearfix">
                        <div class="col-xs-12;" style="height:20px;margin-top:10px; margin-bottom:3px; background:#dbbca7; border-radius:5px; box-shadow: 3px 3px 5px #ab9281 inset ; margin-left: 5px; margin-right:10px;">
                            <marquee direction="left" loop="-1">
                                <span class="text-danger">주제 </span>: 하나님의 사랑으로 선교에 앞장서는 평신도 (요 3:16, 행 1:8)
                            </marquee>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 column group1">
                    <div class="row clearfix">
                        <div class="col-xs-2 column jang-title text-center" style="height:125px;  padding-top:25px;">
                            행<br><br>사
                        </div>
                        <div class="col-xs-10 column ">
                            <div class="col-xs-6 column myst">
                                <button class="btn btn-block btn-suk b1 btn01 text01" type="button" ng-click="click_menu('6')">
                                    <span class="text04"> 일　정　표</span>
                                </button>
                                <button class="btn btn-block btn-suk b1 btn01 text01" type="button" ng-click="click_menu('7')">
                                    행 사 <span class="text04">조 직</span>
                                </button>
                            </div>
                            <div class="col-xs-6 column myst">
                                <button class="btn btn-block btn-suk b1 btn01 text01" type="button" ng-click="click_menu('8')">
                                    강 사 소 개
                                </button>
                                <button class="btn btn-block btn-suk b1 btn01 text01" type="button" ng-click="click_menu('9')">
                                    <span class="text05">행 사</span> 회 계
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 column group1">
                    <div class="row clearfix">
                        <div class="col-xs-2 column jang-title text-center" style="height:125px; padding-top:25px; ">
                            알<br><br>림
                        </div>
                        <div class="col-xs-10 column ">
                            <div class="col-xs-6 column myst">
                                <button class="btn btn-block btn-al b1 btn01 text01" type="button" ng-click="click_menu('10')">
                                    지　방　회<br>교　　　회
                                </button>
                                <button class="btn btn-block btn-al b1 btn01 text01" type="button" ng-click="click_menu('11')">
                                    <span class="text04">협 찬 열 람</span>
                                </button>
                            </div>
                            <div class="col-xs-6 column myst">
                                <button class="btn btn-block btn-al b1 btn01 text01" type="button" ng-click="click_menu('12')">
                                    지　방　회<br>조　　　직
                                </button>
                                <button class="btn btn-block btn-ga b1 btn01 text01" type="button" ng-click="click_menu('13')">
                                    참　가　자<br>열　　　람
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

