<div>
    <link rel="stylesheet" href="styles/contents.css">

    <!-- contents -->
    <div class="container-well">
        <div class="navbar-fixed-top header-bottom">
        <div class="well01">
            <div class="row clearfix">
                <div class="col-xs-12 column">
                    <div ng-include="'views/3000_contents/3100_enter/enter_prev_register.html'"></div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="container-well"></div>
    <div class="container-well"></div><div class="container-well"></div><div class="container-well"></div><div class="container-well"></div>
    <div class="container-well"></div>

    <div class="container-well">
        <table class="table tb-list table-bordered list-option">
            <thead>
            <tr class="list-header-option ">
                <th class="text-center">
                    <div><a href="" ng-click="toggleOrder('name')">
                        성명 {{orderbyDesc['member_name']?'▼':'▲'}}
                    </a></div>
                    <div><input type="text" class="text-box" style="border-color:#868686; width: 5em" placeholder="검색조건"></div>
                </th>
                <th class="text-center">
                    <div>직분</div>
                    <div><input type="text" class="text-box" style="border-color:#868686; width: 5em"></div>
                </th>
                <th class="text-center">
                    <div>성별</div>
                    <div><input type="text" class="text-box" style="border-color:#868686; width: 5em"></div>
                </th>
                <th class="text-center">
                    <div>
                        <a href="" ng-click="toggleOrder('cname')">
                            교회명 {{orderbyDesc['church_name']?'▼':'▲'}}
                        </a>
                    </div>
                    <div><input type="text" class="text-box" style="border-color:#868686; width: 5em"></div>
                </th>
            </tr>
            </thead>
            <tbody class="text-center list-contents-option">
            <tr ng-repeat="item in filterItems
                    = (items
                        | filter:{dutyname:search.dutyname}
                        | filter:{memberid:search.memberid}
                        | orderBy:ordering()
                      )"
                ng-if="currentPage*itemsPerPage <= $index && $index < (currentPage+1)*itemsPerPage">
                <td>{{item['member_name']}}</td>
                <td>{{item['org_name']}}</td>
                <td>{{item['genter']}}</td>
                <td>{{item['church_name']}}회</td>
            </tr>
            </tbody>
        </table>

    </div>

    <!-- footer -->
    <div class="navbar-fixed-bottom sub-navbar footer-top">
        <button type="button" class="btn btn-default btn01" ng-click="clickevent()">컨텐츠2</button>
        <button type="button" class="btn btn-default btn01">업무2</button>
        <button type="button" class="btn btn-default btn01">업무3</button>
        <button type="button" class="btn btn-default btn01">업무4</button>
    </div>
</div>