<div>
    <link rel="stylesheet" href="styles/contents.css">

    <!-- header -->
    <div class="navbar-fixed-top sub-navbar header-bottom">
        <!--<span>현재 참가 등록 {{count? count : 0}}명</span>-->
        <marquee direction="left" loop="-1">현재 참가 등록 {{count? count : 0}}명</marquee>
    </div>

    <!-- contents -->
    <div class="container-well">
        <div class="well01">
            <div class="row clearfix">
                <div class="col-xs-12 column">
                    <div class="tabbable" id="tabs">
                        <div class="pull-right" ng-if="tabPage=='등록' || tabPage=='수정'">
                            <button type="button" class="btn btn-danger" ng-click="submit();">{{tabPage}}
                            </button>
                        </div>
                        <ul class="nav nav-tabs" ng-class="getTabClass()">
                            <li ng-class="{active:tabPage=='등록'}" ng-click="tab_click('등록')">
                                <a href="" data-taggle="tab">등록</a>
                            </li>
                            <li ng-class="{active:tabPage=='수정'}" ng-click="tab_click('수정')">
                                <a href="" data-taggle="tab">수정</a>
                            </li>
                            <li ng-class="{active:tabPage=='열람'}" ng-click="tab_click('열람')">
                                <a href="" data-taggle="tab">열람</a>
                        </ul>
                        <div ng-if="tabPage=='등록'">
                            <div ng-include="'views/3000_contents/3100_enter/enter_prev_register.html'"></div>
                        </div>
                        <div ng-if="tabPage=='수정'">
                            <div ng-include="'views/3000_contents/3100_enter/enter_prev_register.html'"></div>
                        </div>
                        <div ng-if="tabPage=='열람'">
                            <div ng-include="'views/3000_contents/3100_enter/enter_prev_register.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="navbar-fixed-bottom sub-navbar footer-top">
        <button type="button" class="btn btn-default btn01" ng-click="clickevent()">컨텐츠2</button>
        <button type="button" class="btn btn-default btn01">업무2</button>
        <button type="button" class="btn btn-default btn01">업무3</button>
        <button type="button" class="btn btn-default btn01">업무4</button>
    </div>
</div>