<div ng-controller="Contents4Ctrl">

    <link rel="stylesheet" href="styles/contents.css">
    <link rel="stylesheet" href="styles/phyengsin.css">

    <!-- header -->

    <!-- contents -->
    <div class="container-well">
        <div class="well01">
            <div class="row clearfix">
                <div class="col-xs-12 column">
                    <div  ng-if="menuPage=='개별배정(지방회)'">
                        <div ng-include="'views/3000_contents/3100_enter/resort_A.html'"></div>
                    </div>
                    <div ng-if="menuPage=='객실배정(본부)'">
                        <div ng-include="'views/3000_contents/3100_enter/resort_B.html'"></div>
                    </div>
                    <div ng-if="menuPage=='계약객실(등록)'">
                        <div ng-include="'views/3000_contents/3100_enter/resort_C.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="navbar-fixed-bottom sub-navbar footer-top">
        <button type="button" ng-if="menuPage=='개별배정(지방회)'" class="btn btn01" style="background-color: #ff958a" ng-click="chkMenu('개별배정(지방회)')"><div class="small">개별배정(지방회)</div></button>
        <button type="button" ng-if="menuPage!='개별배정(지방회)'" class="btn  btn01" ng-click="chkMenu('개별배정(지방회)')"><div class="small">개별배정(지방회)</div></button>
        <button type="button" ng-if="menuPage!='객실배정(본부)'" class="btn  btn01" ng-click="chkMenu('객실배정(본부)')"><div class="small">객실배정(본부)</div></button>
        <button type="button" ng-if="menuPage=='객실배정(본부)'" class="btn  btn01" style="background-color: #ff958a" ng-click="chkMenu('객실배정(본부)')"><div class="small">객실배정(본부)</div></button>
        <button type="button" ng-if="menuPage!='계약객실(등록)'" class="btn  btn01" ng-click="chkMenu('계약객실(등록)')"><div class="small">계약객실(등록)</div></button>
        <button type="button" ng-if="menuPage=='계약객실(등록)'" class="btn  btn01" style="background-color: #ff958a" ng-click="chkMenu('계약객실(등록)')"><div class="small">계약객실(등록)</div></button>
    </div>

</div>

