<div>
    <link rel="stylesheet" href="styles/contents.css">
    <link rel="stylesheet" href="styles/phyengsin.css">
    <!-- header -->
    <div class="navbar-fixed-top sub-navbar header-bottom">
        <!--<span>현재 참가 등록 {{count? count : 0}}명</span>-->
        <marquee direction="left" loop="-1">현재 참가 등록 {{count? count : 0}}명</marquee>
    </div>

    <!-- contents -->
    <div class="container-well">
        <div class="well01">
            <div class="row clearfix">
                <div class="col-xs-12 column">
                    <div class="tabbable" id="tabs">
                        <div class="pull-right" ng-if="tabPage=='등록' || tabPage=='수정'">
                            <button type="button" class="btn btn-danger" ng-click="submit();">{{tabPage}}
                            </button>
                        </div>

                        <!-- /최상단 타이틀 -->

                        <div class="container">
                            <div class="row clearfix jungbu-row">
                                <div class="col-md-12 column">
                                    <div class="tabbable" id="tabs-880366">
                                        <ul class="nav nav-tabs jung-tabs">
                                            <li class="active">
                                                <a href="#panel-0829" data-toggle="tab"> 8월 29일 (목)</a>
                                            </li>
                                            <li>
                                                <a href="#panel-0830" data-toggle="tab"> 8월 30일 (금)</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="panel-0829">
                                                <table class="table table-bordered schedule">
                                                    <tbody class="text-center">
                                                    <tr class="success">
                                                        <th class="text-right"> ~14:00 </th>
                                                        <td colspan="2"> 등록 및 접수 </td>
                                                    </tr>
                                                    <tr class="warning">
                                                        <th> 14:00~15:40 </th>
                                                        <td colspan="2"> 개회예배 / 중부연회 <br><strong class="name">고신일</strong> 감독 </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">1. 사회</td>
                                                        <td>준비위원장 이찬호 장로</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"> 2. 개회선언 </td>
                                                        <td> 대회장 이상호 장로 </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"> 3. 기도 </td>
                                                        <td> 여선교회회장 김경숙 권사</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"> 4. 성경봉독 </td>
                                                        <td> 청장년연합회장 안병철 권사</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">
                                                            5. 찬양
                                                        </td>
                                                        <td>
                                                            중부연회 여선교회 찬양단
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">
                                                            6. 말씀
                                                        </td>
                                                        <td>
                                                            중부연회 고신일 감독
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">
                                                            7. 헌금기도
                                                        </td>
                                                        <td>
                                                            중부연회실업인선교회회장 권용범 장로
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">
                                                            8. 헌금특송
                                                        </td>
                                                        <td>
                                                            카리스목회자 섹소폰 선교단
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">
                                                            9. 사회
                                                        </td>
                                                        <td>
                                                            준비위원장 이찬호 장로
                                                        </td>
                                                    </tr>
                                                    <tr class="warning">
                                                        <th> 16:00~17:30 </th>
                                                        <td colspan="2"> 특강1 / 왕대일 교수<br>(감신대) </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">1. 사회</td>
                                                        <td>부회장 김종훈 장로</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"> 2. 기도 </td>
                                                        <td> 파주지방회장 전상태 장로 </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"> 3. 성경봉독 </td>
                                                        <td> 인천서지방회장 윤재희 장로</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"> 4. 말씀</td>
                                                        <td> 왕대일 교수</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane" id="panel-0830">
                                                <table class="table table-bordered schedule">
                                                    <tbody class="text-center">
                                                    <tr class="warning">
                                                        <th> 14:00~15:40 </th>
                                                        <td colspan="2"> 개회예배 / 중부연회 고신일 감독 </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">1. 사회</td>
                                                        <td>준비위원장 이찬호 장로</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"> 2. 개회선언 </td>
                                                        <td> 대회장 이상호 장로 </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"> 3. 기도 </td>
                                                        <td> 여선교회회장 김경숙 권사</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"> 4. 성경봉독 </td>
                                                        <td> 청장년연합회장 안병철 권사</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">
                                                            5. 찬양
                                                        </td>
                                                        <td>
                                                            중부연회 여선교회 찬양단
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">
                                                            6. 말씀
                                                        </td>
                                                        <td>
                                                            중부연회 고신일 감독
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">
                                                            7. 헌금기도
                                                        </td>
                                                        <td>
                                                            중부연회실업인선교회회장 권용범 장로
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">
                                                            8. 헌금특송
                                                        </td>
                                                        <td>
                                                            카리스목회자 섹소폰 선교단
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">
                                                            9. 사회
                                                        </td>
                                                        <td>
                                                            준비위원장 이찬호 장로
                                                        </td>
                                                    </tr>
                                                    <tr class="warning">
                                                        <th> 16:00~17:30 </th>
                                                        <td colspan="2"> 특강1 / 왕대일 교수<br>(감신대) </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left">1. 사회</td>
                                                        <td>부회장 김종훈 장로</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"> 2. 기도 </td>
                                                        <td> 파주지방회장 전상태 장로 </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"> 3. 성경봉독 </td>
                                                        <td> 인천서지방회장 윤재희 장로</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-left"> 4. 말씀</td>
                                                        <td> 왕대일 교수</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <!--<div class="navbar-fixed-bottom sub-navbar footer-top">-->
        <!--<button type="button" class="btn btn-default btn01" ng-click="clickevent()">컨텐츠2</button>-->
        <!--<button type="button" class="btn btn-default btn01">업무2</button>-->
        <!--<button type="button" class="btn btn-default btn01">업무3</button>-->
        <!--<button type="button" class="btn btn-default btn01">업무4</button>-->
    <!--</div>-->
</div>