<div>
    <link rel="stylesheet" href="styles/contents.css">

    <!-- contents -->
    <div class="container-well">
        <div class="container">


            <table class="table tb-list table-bordered list-option">
                <thead>
                <tr class="list-header-option add-group2 row clearfix">
                    <th class="text-center col-xs-4 column">
                        <div class="">합계</div>
                    </th>
                    <th class="text-center col-xs-4 column">
                        <div>{{ectTotal}} 명</div>
                    </th>
                    <th class="text-center col-xs-4 column">
                        <div>{{etrTotal}} 명</div>
                    </th>
                </tr>
                </thead>
            </table>

            <table class="table tb-list table-bordered list-option">
                <thead>
                <tr class="list-header-option">
                    <th class="text-center col-xs-4 column">
                        <a href="" ng-click="toggleOrder('lname')">
                            지방명 {{orderbyDesc['local_name']?'▼':'▲'}}
                        </a>
                    </th>
                    <th class="text-center col-xs-4 column">
                        <a href="" ng-click="toggleOrder('excnt')">
                            예상인원 {{orderbyDesc['expect_cnt']?'▼':'▲'}}
                        </a>
                    </th>
                    <th class="text-center col-xs-4 column">
                        <a href="" ng-click="toggleOrder('fxcnt')">
                            등록인원 {{orderbyDesc['fixed_cnt']?'▼':'▲'}}
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody class="text-center list-contents-option">
                <tr ng-repeat="item in (items) track by $index">
                    <form>
                        <td>{{item['local_name']}}</td>
                        <td><input type="text" class="text-center" ng-model="arr[$index]"></td>
                        <td>{{item['fixed_cnt']}}</td>
                    </form>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <!-- footer -->
    <div class="navbar-fixed-bottom sub-navbar footer-top">
        <button type="button" class="btn btn-default btn01 pull-right" ng-click="intExpCnt()">등록</button>
    </div>
</div>