<script src="../../scripts/controllers/contents10.controller.js"></script>
<div ng-controller="Contents10Ctrl">
<!--<script type="text/javascript">-->
    <!--function tempController($scope){-->
        <!--$scope.items=[{name:'부천서지방',check:null},{name:'부천남지방',check:null},{name='부천동지방',check:null}.{name='부천북지방',check:null}];-->
    <!--}-->

<!--</script>-->
<!--<div   ng-controller="tempController">-->
    <link rel="stylesheet" href="styles/contents.css">
    <link rel="stylesheet" href="styles/phyengsin.css">

    <!-- header -->
    <div class="navbar-fixed-top sub-navbar header-bottom">
        <!--<span>현재 참가 등록 {{count? count : 0}}명</span>-->
        <marquee direction="left" loop="-1">현재 참가 등록 {{count? count : 0}}명</marquee>
    </div>

    <!-- contents -->
    <div class="container-well">
        <div class="well01">
            <div class="row clearfix">
                <div class="col-xs-12 column">
                    <div class="tabbable" id="tabs">
                        <div class="pull-right" ng-if="tabPage=='등록' || tabPage=='수정'">
                            <button type="button" class="btn btn-danger" ng-click="submit();">{{tabPage}}
                            </button>
                        </div>

                        <div>
                            <link rel="stylesheet" href="styles/contents.css">
                            <link rel="stylesheet" href="styles/phyengsin.css">

                            <!-- contents -->

                                <div class="container">

                                    <div class="navbar-fixed-top sub-navbar header-bottom">


                                        <div class="container-well fixed-con">
                                            <div class="container" style="padding:5px;">
                                                <div class="text-center col-xs-5 column btn-cham">
                                                    <div style="height: 30px; padding-top:5px;">
                                                        지방회

                                                    </div>
                                                </div>

                                                <div class="col-xs-2 column jungbu-col glyphicon glyphicon-chevron-right text-center" style="margin-top: 5px;padding-left: 0px; margin-left: 0px;height: 30px; padding-top:2px;">

                                                </div>
                                                <div class="text-center col-xs-5 column  btn-cham">
                                                    <div style="height: 30px; padding-top:5px;">
                                                        교회
                                                    </div>

                                                </div>
                                                </div>

                                        </div>
                                        </div>
                                    </div>

                                </div>




                            <div class="row clearfix jungbu-row well well-sm well02" style="height: 190px; margin-top: 0px; padding-top:0px;">
                                <div class="col-xs-12 column jungbu-col">
                                    <div class="row clearfix">
                                        <div class="col-xs-5 column jungbu-col">
                                            <!-- 지방회 목록 출력 -->
                                            <form  class="content-scroll">
                                            <table>
                                                <tbody class="text-center list-contents-option">
                                                <tr ng-repeat="item in (items | orderBy:ordering()) track by $index">
                                                    <td class="col-xs-11 cont10 column modtd"
                                                        style="background-color: white ;border: 2px solid ghostwhite">
                                                        <a href="#panel-{{item.local_id}}" data-toggle="tab"  ng-click="getprvLst2(item.local_id)">{{item['local_name']}}</a>
                                                    </td>
                                                    <td class="col-xs-1 cont10 column modtd-r">
                                                        <div  class="btn-cham-cont10 btn" ng-click="photocheck(item.local_id)">사진</div> </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            </form>

                                        </div>

                                        <!-- 중앙 화살표 -->
                                        <div class="col-xs-2 column jungbu-col glyphicon glyphicon-chevron-right text-center"
                                             style="margin-top: 5px;padding-left: 0px; margin-left: 0px;padding-top:60px">

                                        </div>

                                        <!-- 교회명 출력 -->
                                        <div class="col-xs-5 column jungbu-col">
                                            <div class="tab-content content-scroll"  >
                                                <div class="tab-pane" ng-repeat="item in (items | orderBy:ordering()) track by $index" id="panel-{{item.local_id}}">
                                                    <p>
                                                        <!--<a >{{item.local_id}} {{item.local_name}}</a>-->
                                                        {{item.local_id}} {{item.local_name}}
                                                    <table>
                                                        <tbody class="text-center list-contents-option">
                                                        <tr ng-repeat="item2 in item2s ">
                                                            <td class="col-xs-11 cont10 column modtd" style="background-color: white ;border: 2px solid ghostwhite">
                                                                {{item2.church_id}}{{item2.church_name}}
                                                            </td>
                                                            <td class="col-xs-1 cont10 column modtd-r">
                                                                <div  class="btn-cham-cont10 btn" ng-click="photocheck2(item.local_id,item2.church_id)">소개</div></td>

                                                        </tbody>
                                                    </table>
                                                    </p>
                                                </div>
                                                <div class="tab-pane " id="panel-bc_dong">
                                                    <p>
                                                    <table>
                                                        <tbody class="text-center list-contents-option">
                                                        <tr ng-repeat="item in items">
                                                            <!--<td class="col-xs-11 cont10 column" style="background-color: white ;border: 2px solid ghostwhite">{{item.name}}</td>-->
                                                            <!--<td class="col-xs-1 cont10 column" style="background-color: white ;border: 2px solid ghostwhite"><input type="radio" ></td>-->


                                                            <td class="col-xs-11 cont10 column modtd"
                                                                style="background-color: white ;border: 2px solid ghostwhite">
                                                                인천 동쪽 기둥교회
                                                            </td>
                                                            <td class="col-xs-1 cont10 column modtd-r">
                                                                <div  class="btn-cham-cont10 btn" onclick="change()">소개</div></td>
                                                        </tr><tr ng-repeat="item in items">
                                                            <td class="col-xs-11 cont10 column modtd"
                                                                style="background-color: white ;border: 2px solid ghostwhite">
                                                                인천 동쪽 교회
                                                            </td>
                                                            <td class="col-xs-1 cont10 column modtd-r">
                                                                <div  class="btn-cham-cont10 btn" onclick="change()">소개</div></td>
                                                        </tr>



                                                        </tbody>
                                                    </table>
                                                    </p>
                                                </div>
                                                <div class="tab-pane " id="panel-bc_nam">
                                                    <p>
                                                    <table>
                                                        <tbody class="text-center list-contents-option">
                                                        <tr ng-repeat="item in items">
                                                            <!--<td class="col-xs-11 cont10 column" style="background-color: white ;border: 2px solid ghostwhite">{{item.name}}</td>-->
                                                            <!--<td class="col-xs-1 cont10 column" style="background-color: white ;border: 2px solid ghostwhite"><input type="radio" ></td>-->


                                                            <td class="col-xs-11 cont10 column modtd"
                                                                style="background-color: white ;border: 2px solid ghostwhite">
                                                                남쪽 기둥교회
                                                            </td>
                                                            <td class="col-xs-1 cont10 column modtd-r">
                                                                <div  class="btn-cham-cont10 btn" onclick="change()">소개</div></td>
                                                        </tr><tr ng-repeat="item in items">
                                                            <td class="col-xs-11 cont10 column modtd"
                                                                style="background-color: white ;border: 2px solid ghostwhite">
                                                                남쪽 교회
                                                            </td>
                                                            <td class="col-xs-1 cont10 column modtd-r">
                                                                <div  class="btn-cham-cont10 btn" onclick="change()">소개</div></td>
                                                        </tr><tr ng-repeat="item in items">
                                                            <td class="col-xs-11 cont10 column modtd"
                                                                style="background-color: white ;border: 2px solid ghostwhite">
                                                                두번째 남쪽 교회
                                                            </td>
                                                            <td class="col-xs-1 cont10 column modtd-r">
                                                                <div  class="btn-cham-cont10 btn" onclick="change()">소개</div></td>
                                                        </tr><tr ng-repeat="item in items">
                                                            <td class="col-xs-11 cont10 column modtd"
                                                                style="background-color: white ;border: 2px solid ghostwhite">
                                                                세번째 남쪽 교회
                                                            </td>
                                                            <td class="col-xs-1 cont10 column modtd-r">
                                                                <div  class="btn-cham-cont10 btn" onclick="change()">소개</div></td>
                                                        </tr><tr ng-repeat="item in items">
                                                            <td class="col-xs-11 cont10 column modtd"
                                                                style="background-color: white ;border: 2px solid ghostwhite">
                                                                네번째 남쪽 교회
                                                            </td>
                                                            <td class="col-xs-1 cont10 column modtd-r">
                                                                <div  class="btn-cham-cont10 btn" onclick="change()">소개</div></td>
                                                        </tr>
                                                       </tbody>
                                                    </table>
                                                    </p>
                                                </div>
                                                <div class="tab-pane " id="panel-bc_book">
                                                    <p>
                                                    <table>
                                                        <tbody class="text-center list-contents-option">
                                                        <tr ng-repeat="item in items">
                                                            <!--<td class="col-xs-11 cont10 column" style="background-color: white ;border: 2px solid ghostwhite">{{item.name}}</td>-->
                                                            <!--<td class="col-xs-1 cont10 column" style="background-color: white ;border: 2px solid ghostwhite"><input type="radio" ></td>-->


                                                            <td class="col-xs-11 cont10 column modtd"
                                                                style="background-color: white ;border: 2px solid ghostwhite">
                                                                북쪽 기둥교회
                                                            </td>
                                                            <td class="col-xs-1 cont10 column modtd-r">
                                                                <div  class="btn-cham-cont10 btn" onclick="change()">소개</div></td>
                                                        </tr><tr ng-repeat="item in items">
                                                            <td class="col-xs-11 cont10 column modtd"
                                                                style="background-color: white ;border: 2px solid ghostwhite">
                                                                북북동쪽 교회
                                                            </td>
                                                            <td class="col-xs-1 cont10 column modtd-r">
                                                                <div  class="btn-cham-cont10 btn" onclick="change()">소개</div></td>
                                                        </tr><tr ng-repeat="item in items">
                                                            <td class="col-xs-11 cont10 column modtd"
                                                                style="background-color: white ;border: 2px solid ghostwhite">
                                                                북서북 교회
                                                            </td>
                                                            <td class="col-xs-1 cont10 column modtd-r">
                                                                <div  class="btn-cham-cont10 btn" onclick="change()">소개</div></td>
                                                        </tr><tr ng-repeat="item in items">
                                                            <td class="col-xs-11 cont10 column modtd"
                                                                style="background-color: white ;border: 2px solid ghostwhite">
                                                                파주 감리 교회
                                                            </td>
                                                            <td class="col-xs-1 cont10 column modtd-r">
                                                                <div  class="btn-cham-cont10 btn" onclick="change()">소개</div></td>
                                                        </tr><tr ng-repeat="item in items">
                                                            <td class="col-xs-11 cont10 column modtd"
                                                                style="background-color: white ;border: 2px solid ghostwhite">
                                                                일산 조은 교회
                                                            </td>
                                                            <td class="col-xs-1 cont10 column modtd-r">
                                                                <div  class="btn-cham-cont10 btn" onclick="change()">소개</div></td>
                                                        </tr>
                                                        <tr ng-repeat="item in items">
                                                            <td class="col-xs-11 cont10 column modtd"
                                                                style="background-color: white ;border: 2px solid ghostwhite">
                                                                일산 더조은 교회
                                                            </td>
                                                            <td class="col-xs-1 cont10 column modtd-r">
                                                                <div  class="btn-cham-cont10 btn" onclick="change()">소개</div></td>
                                                        </tr>
                                                        <tr ng-repeat="item in items">
                                                            <td class="col-xs-11 cont10 column modtd"
                                                                style="background-color: white ;border: 2px solid ghostwhite">
                                                                남양주 생명 교회
                                                            </td>
                                                            <td class="col-xs-1 cont10 column modtd-r">
                                                                <div  class="btn-cham-cont10 btn" onclick="change()">소개</div></td>
                                                        </tr>
                                                        <tr ng-repeat="item in items">
                                                            <td class="col-xs-11 cont10 column modtd"
                                                                style="background-color: white ;border: 2px solid ghostwhite">
                                                                강화 성산 교회
                                                            </td>
                                                            <td class="col-xs-1 cont10 column modtd-r">
                                                                <div  class="btn-cham-cont10 btn" onclick="change()">소개</div></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div id = "change_div">버튼을 누르시면 사진이 보여집니다</div>



                            </div>
                        </div>
                    </div>








            </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


</div>