
.well01 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding-right: 0;
}

.middle-menu {
    font-size: 1.3em;
    background: silver;
    padding: 2px;
    text-align: center;
    color: black;
    border-radius: 3px;
}