<div>
    <!-- header -->
    <a href="/">
    <div>
        <div ng-if="sub=='false'" class="navbar navbar-default navbar-fixed-top nav01 jungbu-title">
            <img alt="2014 평신도 하계 수련회" src="images/suryen.png" class="center-block" style="padding-top:3px;"/>

        </div>
        <div ng-if="sub=='true'">
            <div ng-if="!subMenuOn" class="navbar navbar-default navbar-fixed-top nav01  jungbu-title">
                <h5>{{subTitleName}}</h5>{{menuPage}}
            </div>
            <div ng-if="subMenuOn" class="navbar navbar-default navbar-fixed-top nav01  jungbu-title">
                <h5>{{subTitleName}} - {{menuPage}}</h5>
            </div>
        </div>
    </div>
    </a>
</div>